<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8"/>
        <title>Nit i Dia - Cullera - Bar S.O.S</title>
    </head>
    <body>
        <h1>Nit i Dia - Cullera - Bar S.O.S</h1>
        <div id="items">
            <form id="addItem" action="#">
                <div>
                    <input id="name" placeholder="items" type="text" />
                    <button id="add">Añadir</button>
                </div>
            </form>
        </div>
        <script id="itemTemplate" type="text/template">
            <ul>
            <li><%= name %></li>
            </ul>
            <button class="delete"> X </button>
        </script>
        <script src="js/libs/jquery-2.2.2.min.js"></script>
        <script src="js/libs/underscore-min.js"></script>
        <script src="js/libs/backbone-min.js"></script>
        <script src="js/models/item.js"></script>
        <script src="js/collections/shoppinglist.js"></script>
        <script src="js/views/item.js"></script>
        <script src="js/views/shoppinglist.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
